/* 
Daniel Rizzo
CSCI Web Development
Assignment 3 - Grid Maker
Professor Johnny Lai
March 25th, 2022 
*/

/* Don't necessarily need to modify this file or html. All work in script file */
/* tr and td tags are used to access table row and cell */
tr,td{ 
    border:2px;
    border-style: dashed; /* I want a dashed border */
}
td{
    height: 75px; 
    width: 75px; /* Set box dimensions */
    background-color: white; /* Inner color of boxes */
    border-color: rgb(68, 68, 68); /* Gray border */
}
button,select{
    font-size: large;
    background-color: blanchedalmond;
}
body{
    background-color: rgb(179, 151, 110);
}